.polite-container {
    margin-top: 50px;
}
.thankyou {
    font-size: 4em;
}
.offer-buttons {
    margin-top: 50px;
}
.paper-airplane {
    width: 200px;
    height: 170px;
    margin-bottom: 10px;
}
.offer-buttons {
    margin-top: 20px;
}
.option-buttons {
    margin-left: 10px;
    margin-bottom: 10px;
}