{% extends 'portfolio_webs/base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'portfolio_webs/css/about.css' %}">
<div class="row">
    <div></div>
    <div class="col-12 col-md-6">
        <img class="me-image" src="{% static 'portfolio_webs/pportrait.jpg' %}" />
    </div>
    <div class="col-12 col-md-6 textalignment">
        <h1><span><img class="profile-icon" src="{% static 'portfolio_webs/pportrait.jpg' %}" /></span>About Me</h1>
        <p>
            My name is Maxim Shelepov and I'm a <em>Computer Science student at North Carolina State University.</em>
            I have a passion for coding in languages such as Python, Java, PHP, & Swift. Work in web development
            and have experience with Django and Laravel frameworks.
        </p>
        <p>
            Responsible, organized, problem solver, and independent thinker. Work well in a team and a quick learner. 
            Programming for 2+ years and have 3 years of experience in advanced mathematics such as Calculus, Statistics, and Discrete Mathematics. 
            Currently, working as a web development intern for my University.
        </p>
        <br>
        <b>
            <p>QUICK FACTS</p>
        </b>
        <ul>
            <li>Huge fan of chess. United States Chess Federation Rated. My lichess & Chess.com handle is <i>MaximusXX111</i>.</li>
            <li>Originally born in Moscow, Russia and now live in North Carolina.</li>
            <li><em>Searching for web and software development internships / positions for the summer of 2023.</em></li>
        </ul>
    </div>
</div>
{% endblock content %}