{% extends 'portfolio_webs/base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'portfolio_webs/css/about.css' %}">
<div class="row">
    <div></div>
    <div class="col-12 col-md-6">
        <img class="me-image" src="{% static 'portfolio_webs/pportrait.jpg' %}" />
    </div>
    <div class="col-12 col-md-6 textalignment">
        <h1><span><img class="profile-icon" src="{% static 'portfolio_webs/pportrait.jpg' %}" /></span>About Me</h1>
        {{ profile.body | safe }}
    </div>
</div>
{% endblock content %}